//---------------------------------------------------------------------------
//
// Name:        trisApp.rc
// Author:      Elvis Ciotti
// Created:     11/07/2007 15.20.28
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
